<body class="auth-page">
<div class="roadwarrior" ></div>
<div class="row" style="margin-top: 100px;">
  <div class="col-xs-12 center-button">  
   <a class="button-link" href="/auth/addgroup"><button class="btn btn-default transparent-btn btn-lg">Create a Group</button></a> 
  </div>
</div>  

<div class="row">
  <div class="col-xs-12 center-button">  
  <a class="button-link" href="/auth/joingroup"><button class="btn btn-default transparent-btn btn-lg">Join a Group</button></a> 
  </div>
</div>  


</body>