<a class="button-link" href="/auth/addgroup"><button class="btn btn-default">Create a Group</button></a>
<a class="button-link" href="/auth/joingroup"><button class="btn btn-default">Join a Group</button></a>