
<div class="container">
<p>Date:
    <input type="text" id="datepicker" />
</p>


<div class="row" style="margin-top: 50px">
  <div class="col-xs-12">
  <form method="GET" action='/new-event/result' role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Venue Search</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Venue Search">
  </div>
  <button type="submit" id="venue-search-btn" class="btn btn-default">Search</button>
</form>
</div>
</div>