<body id="new-event-page">
<a href="/settings" class="back-button-margin button button-raised button-border button-rounded button-smallish"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Settings</a>    
<div class="container">




<div>
<h3 class="text-center">Add an Event</h3>
</div>
<div class="row" style="margin-top: 25px">
 
  <form method="POST" id="add-venue-form" action='/new-event/submit' role="form">
  <div style="position: relative;" class="form-group">
    <label class="sr-only" for="datepicker">Date:</label>
    <input type="text" name="datepicker" id="datepicker" class="datepicker" placeholder="Event Date">
    <div id="venue-address-group" class="input-group">
      <input type="text" name="venue" class="form-control" id="venue-name" placeholder="Venue Name">
      <span class="input-group-btn">
        <button id="clear-venue-name" style="margin-bottom: 5px;" class="btn btn-clear-text" type="button"><i class="fa fa-lg fa-times-circle" aria-hidden="true"></i></button>
      </span>
    </div>
    
    <div id="venue-address-group" class="input-group">
      <input type="text" name="city" class="form-control" id="venue-city" placeholder="Venue City and State"> 
      <span class="input-group-btn">
        <button id="clear-venue-city" style="margin-bottom: 5px;" class="btn btn-clear-text" type="button"><i class="fa fa-lg fa-times-circle" aria-hidden="true"></i></button>
      </span>
    </div>
    <div id="venue-address-group" class="input-group">
      <input type="text" name="address" value="" class="form-control" id="venue-address" placeholder="Complete Venue Address">
      <span class="input-group-btn">
        <button id="clear-venue-address" style="margin-bottom: 5px;" class="btn btn-clear-text" type="button"><i class="fa fa-lg fa-times-circle" aria-hidden="true"></i></button>
      </span>
    </div>
    <label class="sr-only" for="venue-info">Assorted Information:</label>
    <textarea class="form-control" name="info" rows="5" id="venue-info" placeholder="Venue Information"></textarea>
      <div id="google-places-div" class="venue-suggestions">
        <table class="table venue-suggestion-table">
          <tbody>
          </tbody>
        </table>
      </div>
</div>
  </div>
  <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
  <button type="submit" id="add-venue-btn" class="btn btn-default btn-lg btn-block">Submit</button>
  </div>
  </div>
</form>
</div>
  <div style="margin-top: 40px" class="row">
    <div class="col-xs-12">
      <div id="venue-list">
    </div>
  </div> 
</div>
</div>
</body>