<div class="settings">

  <div class="row" style="margin-bottom: 7px; margin-top: 20px;">
    <div class="col-xs-12 center-text">  
      <h4>Current User: <%=currentUser.firstName%> <%=currentUser.lastName%></h4>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12 center-text">  
      <h4>Group: <%=group.groupName%></h4>
    </div>
  </div>
    <%if (currentUser.type === "admin"){%>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row">
      <div class="center-button"> 
        <a href="/new-event" class="settings-button">Create an Event</a> 
      </div>
      </div>
      <div class="row">
      <div class="center-button">
        <a href="/edit-event" class="settings-button">Edit/Delete an Event</a> 
      </div>
    </div>


    <div class="row">
      <div class="center-button"> 
        <a href="/new-itin" class="settings-button">Create Itinerary Items</a> 
      </div>
      </div>
      <div class="row">
      <div class="center-button">
        <a href="/edit-itin" class="settings-button">Delete Itinerary Items</a> 
      </div>
    </div>
   
    <div class="row">
      <div class="center-button"> 
        <a href="/pending" class="settings-button">Pending Users</a>
      </div> 
    </div>
    <%}%>
    <div class="row">
      <div class="center-button"> 
        <a href="/logout" class="settings-button">Logout</a>
      </div> 
    </div>
  </div>
</div>


