<div class="settings">

<div class="row" style="margin-bottom: 7px; margin-top: 20px;">
  <div class="col-xs-12 center-text">  
    <h4>Current User: <%=currentUser.firstName%> <%=currentUser.lastName%></h4>
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="col-xs-12 center-text">  
    <h4>Group: <%=group.groupName%></h4>
  </div>
</div>
 
<div class="row">
  <div class="col-xs-12 center-button"> 
    <a href="/new-event"><button class="btn btn-default btn-lg">Create an Event</button></a> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12 center-button">
    <a href="/edit-event"><button class="btn btn-default btn-lg">Edit/Delete an Event</button></a> 
  </div>
</div>


<div class="row">
  <div class="col-xs-12 center-button"> 
    <a href="/new-itin"><button class="btn btn-default btn-lg">Create Itinerary Items</button></a> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12 center-button">
    <a href="/edit-itin"><button class="btn btn-default btn-lg">Delete Itinerary Items</button></a> 
  </div>
</div>





<div class="row">
  <div class="col-xs-12 center-button"> 
    <a href="/logout"><button class="btn btn-default btn-lg">Logout</button></a>
  </div> 
</div>

</div>