
<div class="row">
  <div class="col-xs-12 center-button">  
    <a href="/new-event"><button name="logout" class="btn btn-default">Create Event</button></a> 
  </div>
</div>  
<div class="row">
  <div class="col-xs-12 center-button"> 
    <a href="/new-itin"><button name="logout" class="btn btn-default">Create Itinerary Items</button></a> 
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center-button"> 
    <a href="/logout"><button name="logout" class="btn btn-default">Logout</button></a>
  </div> 
</div>