/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}





input:-webkit-autofill {
  background-color: rgba(197, 209, 221, 1.0) !important;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

span {
  font-weight: bold;
}

.navbar-inverse {
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important;
}

.hidden {
  display: none !important;
}

#button-link {
    text-decoration: none;
  }

.small-underlined-header {
  text-decoration: underline;
  font-size:16px;
  font-weight:bold;
}  

.slick-slider { 
  display: table; 
  table-layout: fixed; 
  width: 100%; 
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#top-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}



.navbar-header {
  float:none;
    width:100%;
    padding:10px;
}

#bottomNav {
  padding:10px;
}
#bottomNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}

/*     Brent CSS
------------------------------------------------------------- */

.date {
  
} 
.gray-background {
  background-color:#444444;
  border-color: #222222;
}

.white {
  color:#ffffff;
}

.transparent-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}

.transparent-btn:hover {
  background-color: rgba(206, 209, 211, 0.39);
  border: 2px solid white;
  color: white;
}

.transparent-btn:active {
  background-color: rgba(206, 209, 211, 0.39);
  border: 2px solid white;
  color: white;
}


input, label {
    display:block;
    margin-bottom: 5px;
}
.date-name h4 {
  font-weight: normal;
  font-size: 18px;
}

.roadwarrior {
  background-image: url('/img/roadwarrior.png') !important;
  background-size:contain;
  background-repeat:no-repeat;
  width:340px;
  height: 100px;
  margin : 25px auto 0 auto; }
}

.itin-delete-table {
  font-size: 12pt !important;
}

.itin-delete-table a {
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  border: 1px solid #555555;
  border-radius: 4px;
  padding: 4px 4px;
}
.auth-page {
  width: 100%;
  height: 100%;
  background-image: url('/img/group-img.jpg');
  background-size: cover;
}

.auth-page button {
  font-size: 24px; 
}

.auth-page a {
  font-size: 16px; 
  color: white;
}

.auth-page h4 {
  font-size: 14px; 
  color: white;
}

.settings button {
  font-weight: bold;
  border: 1px solid black;
}

.settings span {
  font-size: 13px;
}

.settings h4 {
  font-weight: bold;
}

.settings a {
  text-decoration: none;
}


#topNav {
  padding:15px;
}
#topNav a {
    font-size:16pt;
    color:#ddd;
    text-decoration:none;
}
#topNav a:hover {
    color:#fff;
}

.inline {
  display: inline;
}

.bullet-pill {
  margin: 0 auto;
  display: inline;
  text-align: center;
}

.bullet-pill li {
  display: inline;
  text-decoration: none;
}

#venue-list {
  list-style-type: none;
}

.datepicker {
  padding: 6px 12px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  color: #555555;
  border: 1px solid #cccccc
}

.center-text {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.center-button {
  margin-bottom: 15px;
  text-align: center;
  display: block;
}

.my-heading {
  text-decoration: underline;
  font-weight: bold;
}

#weatherText {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-left: 0px;
}

#weather {
  padding-right: 0px;
}

#weatherExtra {
  color: #aaaaaa;
  font-size: 12px;
}

#add-venue-form input {
  margin-bottom: 5px;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


